*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.8px;
}

body{
    background: #27262a;
}

/* Estilos del bottun */

.modal{
    width: 40%;
    height: 65%;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}

.ingresar{
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    border: 0;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: #612160;
    transition: all 0.2s linear;
}

.ingresar:hover{
    font-weight: 600;
    font-size: 18px;
    border:  1px solid #612160;
    color: #442443;
    transition: all 0.2s linear;
}

@media screen and (max-width: 600px) {
    .modal img{
        height: 30%;
    }
}


/* Menu */

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #8480b1;
    color: #fdfdfd;

    padding: 15px 30px;

    margin:0 0 10px 0;
}

.menu img{
    width: 130px;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-direction: row;
}